<div id="mainList">
  <ul>
    <% mainList.forEach(function(obj){ %>
    <li><%= obj %></li>
    <% }); %>
  </ul>

  <button class="btn btn-secondary" onclick="pagination('prev')"><%= "<" %> </button>
  <button class="btn btn-secondary" onclick="pagination('next')"><%= ">" %> </button>
</div>