html,
body {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appWrapper {
  display: flex;
  width: 1200px;
  height: 800px;
  background-color: #b37dd8;
  border-radius: 30px;
}

.sideBarWrapper {
  height: 100%;
  width: 25%;
  background-color: #533b75;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px 0px 0px 30px;
}

.quantityWrapper {
  width: 90%;
}

.btnOption {
  margin-top: 111px;
  margin-bottom: 111px;
  width: 90%;
}

.hidden {
  width: 0px !important;
  overflow: hidden;
}

.hiddenBarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 15%;
  background-color: #7957a9;
  transition: 0.2s;
}

.dropdown {
  margin-top: 20px;
  width: 90%;
}

.quantity.error {
  border: 2px solid red;
}

.mainList {
  width: 100%;
}

.mainList ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.mainList li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
  width: 90%;
  height: 100px;
  padding: 15px;
  border-radius: 10px;
  background-color: #e6e6e6;
}

.mainList li .identify {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #c1c1c1;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainList li .content {
  font-size: 20px;
  margin-right: 50px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination button:first-child {
  margin-right: 60px;
}
