html,
body {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appWrapper {
  display: flex;
  width: 1200px;
  height: 800px;
  background-color: red;
}

.sideBarWrapper {
  height: 100%;
  width: 25%;
  background-color: rebeccapurple;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantityWrapper {
  width: 90%;
}

.btnOption {
  margin-top: 111px;
  margin-bottom: 111px;
  width: 90%;
}

.hidden {
  width: 0px !important;
  overflow: hidden;
}

.hiddenBarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 15%;
  background-color: pink;
  transition: 0.2s;
}

.dropdown {
  margin-top: 20px;
  width: 90%;
}

.quantity.error {
  border: 2px solid red;
}
